input {
    width: calc(100% - 44px) !important;
    margin-left: 8px;
}

.icon {
    width: 24px;
    height: 24px;
    background-image: url('../img/search-icon.png')
}

.title {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.area-produtos {
    margin-top: 10px;
    height: 150px;
    display: grid;
    grid-row-gap: 10px;
    grid-template-areas: "t ."
                         "p1 p2"
                         "p3 p4"
                         "p5 p6";
}

.area-produtos-compra {
    margin-top: 10px;
    height: 250px;
    display: grid;
    grid-template-areas: "t"
                         "p1";
}

.produtos {
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-areas: "img"
                         "titulo";
}

.compra {
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-areas: "img"
                         "titulo";
}

.categoria {
    grid-area: t;
}

#p1, #p2, #p3,#p4, #p5, #p6, #p7, #p8 {
    background-repeat: no-repeat;
}

#p1 {
    grid-area: p1;
}

#games-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Fgames%2Fgames.png?alt=media&token=604ca547-e0d6-4a84-8783-a24f6f0ee07a');
}

#p2 {
    grid-area: p2;
}

#eletronicos-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Finformatica%2Feletronicos.png?alt=media&token=f67ebe7e-267a-4957-8359-b7827149a75e');
}

#p3 {
    grid-area: p3;
}

#oculos_Escuros-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Facessorios%2F4olhos2.png?alt=media&token=062ebf1f-566b-497c-b8aa-c3dd46d5d47a');
}

#p4 {
    grid-area: p4;
}

#bicicletas-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Fbicicleta%2Fbicicletas.png?alt=media&token=68d0a70a-faf6-4afe-bbe0-60518487910e');
}

#p5 {
    grid-area: p5;
}

#japa-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Falimentacao%2Fjapa.png?alt=media&token=51166b89-8369-48bc-8348-ab62925a5097');
}

#p6 {
    grid-area: p6;
}

#sobremesas-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Falimentacao%2Fsorvetes.png?alt=media&token=aa3ac62e-dd74-4a61-bcbe-079ac72b3778');
}

#combos-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Falimentacao%2Fcombo.png?alt=media&token=027808cc-9db6-4a28-bdd5-512f816f696a');
}

#burger-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Falimentacao%2Fburger.png?alt=media&token=c4514618-9f84-47c3-b245-b86e42fdaebd');
}

#sorvete-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Falimentacao%2FSorvete.png?alt=media&token=1d2f1796-e501-4176-8272-cab88400d9e2');
}

#bebidas-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Falimentacao%2Fbebidas.png?alt=media&token=8796f24e-3ba0-4ee7-8344-9224dee240b9');
}

#cadeira-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Fgames%2Fcadeiragamer.png?alt=media&token=385a3551-e093-44ab-bfab-b2e0b32a20b4');
}

#cadeira02-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Fgames%2Fcadeiras%2Fcadeira1.jpeg?alt=media&token=0d8ad4ea-358c-482c-9705-4d388f6e5eee');
    border-radius: 12%;
}

#cadeira03-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Fgames%2Fcadeiras%2Fcadeira2.jpeg?alt=media&token=170a705c-96e2-49a0-a784-f90e1842f66c');
    border-radius: 12%;
]}

#cadeira04-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Fgames%2Fcadeiras%2Fcadeira3.jpeg?alt=media&token=dad1e84a-74be-4ca5-a84a-9f7c7a53f016');
    border-radius: 12%;
}

#consoles-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Fgames%2Fconsoleps4.png?alt=media&token=b6217524-c8fb-47dd-897e-38efef4f2285');
}

#kitgamer-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Fgames%2Fkitgamer.png?alt=media&token=202ad9f2-33fe-488e-a142-986fa5ae559f');
}

#xonenfs-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Fgames%2Fxonenfs.png?alt=media&token=5ed05f0b-7075-435b-9175-5a749bb2eb6d');
}

#Headphone-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Finformatica%2FHeadphone.png?alt=media&token=720ddfc0-72c8-4768-945c-afa4bae9b95e');
}

#foneblue-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Finformatica%2Ffoneblue.png?alt=media&token=01d512fc-8ced-4249-b6e5-1cf39e4f6b08');
}

#carregadorexterno-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Finformatica%2Fhdexterno.png?alt=media&token=b9581b67-5259-4a8b-ba5a-adba99faaa0b');
}

#somportatil-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Finformatica%2Fsomporttatil.png?alt=media&token=b7cf69b1-78cf-408f-a618-39430356eade');
}

#camera-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Finformatica%2Fsoportecamera.png?alt=media&token=9779479e-fad6-4ce3-b998-280ac0a67991');
}

#olhos1-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Facessorios%2F4olhos2.png?alt=media&token=062ebf1f-566b-497c-b8aa-c3dd46d5d47a');
}

#olhos2-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Facessorios%2F4olhos2.png?alt=media&token=062ebf1f-566b-497c-b8aa-c3dd46d5d47a');
}

#bone1-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Facessorios%2Fbone1.png?alt=media&token=93863eb6-45c5-49c9-959e-a76edc6a534b');
}

#bone2-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Facessorios%2Fbone2.png?alt=media&token=4c1b15a0-d14d-4714-9342-045307642bf6');

}
#relogio1-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Facessorios%2Frelogio1.png?alt=media&token=9102755a-b1b7-4598-b8e1-cde707d645b5');

}
#relogio2-img {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lojasheyla.appspot.com/o/Hack%20Faesa%2Facessorios%2Frelogio2.png?alt=media&token=05452737-cef7-4640-b82b-5b22a8b03816');

}

.img-produto {
    grid-area: img;
    height: 130px;
    background-repeat: no-repeat;
}

.titulo-produto {
    grid-area: titulo;
    margin: 0 auto;
    text-align: center;
}

.btn-compra {
    height: 50px;
    width: 90%;
    background-color: #2bbd58;
    border-radius: 10px;
    color: white;
    font-size: 20px; 
    text-align: center;
    line-height: 50px;   
    position: absolute;
    bottom: 20px;
    letter-spacing: 1.5px;
}