input {
    width: calc(100% - 44px) !important;
    margin-left: 8px;
}

.icon {
    width: 24px;
    height: 24px;
    background-image: url('../img/search-icon.png')
}

.title {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.area-produtos {
    margin-top: 10px;
    height: 150px;
    display: grid;
    grid-template-areas: "t ."
                         "p1 p2"
                         "p3 p4";
}

.produtos {
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-areas: "img"
                         "titulo";
}

.categoria {
    grid-area: t;
}

#p1, #p2, #p3,#p4, #p5, #p6, #p7, #p8 {
    background-repeat: no-repeat;
}

#p1 {
    background-image: url('../img/games/games.png');
    grid-area: p1;
}

#p2 {
    background-image: url('../img/games/eletronicos.png');
    grid-area: p2;
}

#p3 {
    grid-area: p3;
}

#p4 {
    grid-area: p4;
}
#p5 {
    grid-area: p5;
}

#p6 {
    grid-area: p6;
}

#p7 {
    grid-area: p7;
}

#p8 {
    grid-area: p8;
}

.img-produto {
    grid-area: img;
    height: 130px;
}

.titulo-produto {
    grid-area: titulo;
    margin: 0 auto;
}
